*{
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to left,#83ed5b, #30a006);
    padding: 0 !important;
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/* banner style */

#banner {
    background-image: linear-gradient(to left,#83ed5b, #30a006);
    color: #fff;
    padding-top: 5%;
}

.banner-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

#banner a {
    color:#fff;
    text-decoration: none;
}

.bottom-img {
    width: 100%;
}

#whatwedo {
    padding: 120px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #whatwedo {
        padding: 60px;
        text-align: center;
    }


}

#whatwedo h3 {
    color: #124387;
    padding:5px;
}

#whatwedo h2 {
    color: #124387;
    padding:10px;
}

#products {
    text-align: center;
}

#products h2 {
    color: #124387;
    padding:5px;
}

/* footer */

#footer {
    background-image: linear-gradient(to left,#83ed5b, #30a006);
    color: #fff;
}

.footer-img {
    width: 100%;
}

.footer-box {
    padding: 20px;
}

.footer-box img {
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to left,#83ed5b, #30a006);

}



.footer-box  .inputBox input,
.footer-box  .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    /* border: none; */
    /* border-bottom: 2px solid ; */
    /* outline: none; */
    /* background: whitesmoke; */

  }